{% extends "base.jinja2" %}

{% block title_text %}
    About
{% endblock %}

{% block nav_about_attr %}
    class="active"
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span10 offset1">
            <h3>About Manga Reader</h3>

            <p>Manga Reader extension for Firefox (FFMR) and this website are created by 3 avid manga readers:</p>
            <ul>
                <li>David Halim
                <li><a href="http://jp.linkedin.com/in/heryandi/">Heryandi</a> (mostly inactive now)
                <li>Yosua Michael Maranatha
            </ul>

            <p>
                For bug reports or suggestions, you can use the feedback form from the home page or
                send an email directly to <a href="mailto:ffmangareader@gmail.com?Subject=FFMR" target="_top">ffmangareader@gmail.com</a>.
            </p>
        </div>
    </div>
{% endblock %}
