<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %} {% block title_text %} {% endblock %} - Manga Reader Extension {% endblock %} </title>
        <meta name="description" content="Manga Reader extension for Firefox browser. Read manga conveniently on online reader websites! Works on AnimeA, Batoto, Komikid, Mangaesta, MangaFox, MangaHere, MangaPanda, MangaReader, MangaStream, Pecinta Komik, submanga, TenManga!"/>
        <meta name="google-site-verification" content="5pWQSwj5Fi1OCEIH4UXlXKd-4_hnF5ta7IM6XBH1GGc" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link href="/static/css/social-buttons.css" rel="stylesheet">
        {% block extra_css %}
        {% endblock %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        {% block extra_script %}
        {% endblock %}

        <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800" rel="stylesheet" type="text/css">
        <style type="text/css">
            /* Large desktop */
            @media (min-width: 980px) {
                body {
                    padding-top: 60px;
                }
                .linediv-l {
                    border-right: 1px white solid;
                }
                .linediv-r {
                    border-left: 1px white solid;
                }
            }

            /* Landscape phones and down */
            @media (max-width: 480px) {
                .copy {
                    padding: 2.5% 10%;
                }
                .linediv-l {
                    border-bottom: 1px white solid;
                }
                .linediv-r {
                    border-top: 1px white solid;
                }
            }

            body {
                font-family: 'Open Sans', Helvetica, Arial, sans-serif;
            }

            .heading, .subheading {
                font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
                text-align: center;
            }

            p.lead {
                padding-top: 1.5%;
                font-size: 24px;
                line-height: 30px;
            }

            p {
                font-size: 18px;
                line-height: 24px;
            }

            .pitch {
                padding: 2.5% 0%;
            }
            .order {
                padding: 2% 0%;
            }
            .download {
                height: 100px;
            }
            .btn-download {
                height: 100%;
            }
            .actions {
                background-color: #343434;
                padding: 3% 0%;
            }
            .video, .thermometer, .order, .social, .statistics {
                text-align: center;
            }
            .statistics h3, .statistics p {
                color: white;
            }

            .copy {
                padding-top: 2.5%;
                padding-bottom: 2.5%;
                text-align: justify;
            }
            .asset {
                padding: 2.5% 0%;
            }
            .footer {
                color: #cccccc;
                text-align: center;
            }
            .footer p {
                font-size: 11px;
            }
            .footer a {
                color: #ccccff;
            }
            div.addthis_toolbox {
                width: 168px;
                margin: 0 auto;
            }
            div.coinbase_div {
                width: 187px;
                margin: 0 auto;
            }
        </style>
        {% block extra_head %}
        {% endblock %}

        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-43121010-1', 'ffmangareader.appspot.com');
        ga('send', 'pageview');
        </script>
    </head>

    <body>
        {% block nav %}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="/">Manga Reader</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li {% block nav_home_attr %} {% endblock %}><a href="/">Home</a></li>
                            <li {% block nav_feature_attr %} {% endblock %}><a href="/feature">Features</a></li>
                            <li {% block nav_about_attr %} {% endblock %}><a href="/about">About</a></li>
                            <li {% block nav_changelog_attr %} {% endblock %}><a href="/changelog">Changelog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

        <div class="container">
            {% block header %}
                <div class="row-fluid heading">
                    <div class="span12">
                        <h1>Manga Reader</h1>
                    </div>
                </div>
                <div class="row-fluid subheading">
                    <div class="span12">
                        <p class="lead">Online Manga Reader Extension for Firefox</p>
						<div class="lead" style="color:rgb(204,0,0)"> We want new ICON! Please help us by submitting your design to ffmangareader@gmail.com </div>
						<div class="lead" style="color:rgb(0,0,200)"> Please re-login after installing version 3.15.0 or above (if your current version is below 3.15.0)</div>
                    </div>
                </div>
                <div class="row-fluid social">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                        <a class="addthis_button_facebook"></a>
                        <a class="addthis_button_twitter"></a>
                        <a class="addthis_button_google_plusone_share"></a>
                        <a class="addthis_counter addthis_bubble_style"></a>
                    </div>
                    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5201d08d3106819e"></script>
                    <!-- AddThis Button END -->
                </div>
            {% endblock %}

            {% block content %}
            {% endblock %}
        </div>

        {% block footer %}
            <div class="row-fluid footer">
                <div class="span12">
                    <p>David Halim &amp; Heryandi &amp; Yosua Michael Maranatha 2013
                </div>
            </div>
        {% endblock %}
    </body>
</html>
