{% extends "base.jinja2" %}

{% block title_text %}
    Changelog
{% endblock %}

{% block nav_changelog_attr %}
    class="active"
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span10 offset1">
			<h4>Version 4.0.0(2015-12-06)</h4>
			<ul>
				<li>Faster and lighter chapter list updater</li>
				<li>Fix synchronization issue</li>
				<li>Fix compatibility with several manga sites</li>
				<li>Add CrunchyRoll (easter egg since some months ago ^_^)</li>
			</ul>
			<h4>Version 3.15.0(2015-11-22)</h4>
			<ul>
				<li>Support both http and https</li>
				<li>Fix forgot password</li>
				<li>Strengthen security for mozilla addon submission(Thanks to AMO editor for the suggestion)</li>
				<li>Move database to elephantSQL (larger than Heroku but still free!)</li>
			</ul>
			<h4>Version 3.14.1(2015-11-16)</h4>
			<ul>
				<li>Fix MangaEden</li>
			</ul>
			<h4>Version 3.14.0(2015-10-31)</h4>
			<ul>
				<li>Fix Batoto</li>
				<li>Add Manga Park</li>
			</ul>
			<h4>Version 3.13.0(2015-10-04)</h4>
			<ul>
				<li>Add number of updated manga in toolbar icon (remove notification)</li>
				<li>Reduce the resource consumption for updating chapter list</li>
				<li>Fix some bugs</li>
			</ul>
			<h4>Version 3.12.1(2015-08-24)</h4>
			<ul>
				<li>Quick fix: add page number to Batoto non webtoon manga</li>
			</ul>
			<h4>Version 3.12.0(2015-08-24)</h4>
			<ul>
				<li>Add preference to disable auto update chapter list</li>
				<li>Add button in subscribed manga to manually update chapter list</li>
				<li>Enable the user to disable the addon on some sites</li>
				<li>Fix mangajoy</li>
				<li>Fix webtoon style on batoto</li>
				<li>Fix webtoons.com chapter list</li>
				<li>Add support to imperialScans.com</li>
			</ul>
			<h4>Version 3.11.0(2015-08-14)</h4>
			<ul>
				<li>Quick fix compatibility issue with firefox 40
			</ul>
			<h4>Version 3.10 (2015-03-14)</h4>
			<ul>
				<li>Add manga list synchronizer
				<li>Add option to fix chapter navigation bar position
				<li>Add MangaIndo (Indonesian)
				<li>Change TenManga to TADD
			</ul>
            <h4>Version 3.02 (2014-12-20)</h4>
            <ul>
                <li>Add SenManga (Raw)
                <li>Add TenMangas
            </ul>
            <h4>Version 3.01 (2014-12-11)</h4>
            <ul>
                <li>Fix manga subscriber bugs
            </ul>
            <h4>Version 3.00 (2014-11-03)</h4>
            <ul>
                <li>Add manga subscriber
            </ul>
            <h4>Version 2.50 (2014-09-16)</h4>
            <ul>
                <li>Add update notification
                <li>Add Webtoon
            </ul>
            <h4>Version 2.40 (2014-09-02)</h4>
            <ul>
                <li>Fix Batoto domain
                <li>Enable extension in private browsing mode
            </ul>
            <h4>Version 2.30 (2014-06-23)</h4>
            <ul>
                <li>Add Kissmanga
                <li>Add MangaEden
                <li>Add Mangajoy
                <li>Add MangaStream.to
                <li>Add Red Hawk Scans
                <li>Add Starkana
            </ul>
            <h4>Version 2.20 (2014-05-16)</h4>
            <ul>
                <li>Fix MangaHere domain
                <li>Recompile with newest SDK, compatible with Firefox 21+ now
            </ul>
            <h4>Version 2.11 (2013-11-23)</h4>
            <ul>
                <li>Fix Batoto webtoon
            </ul>
            <h4>Version 2.1 (2013-09-20)</h4>
            <ul>
                <li>Smarter keyboard shortcut
                <li>Add support for Mangacan
            </ul>
            <h4>Version 2.01 (2013-09-02)</h4>
            <ul>
                <li>Fix chapter list bug with MangaReader
            </ul>
            <h4>Version 2.0 (2013-09-01)</h4>
            <ul>
                <li>Rewrite the crawler engine
                <li>Less controversial default background color
                <li>Expand to Indonesian and Spanish websites
            </ul>
            <h4>Version 1.1 (2013-08-22)</h4>
            <ul>
                <li>Add user preference page
                <li>Add keyboard shortcut
                <li>Add auto-resize on browser resize
            </ul>
            <h4>Version 1.01 (2013-08-13)</h4>
            <ul>
                <li>Fix MangaStream
            </ul>
            <h4>Version 1.0 - Codename: "Pinky" (2013-08-03)</h4>
            <ul>
                <li>Initial public release
            </ul>
        </div>
    </div>
{% endblock %}
