{% extends "base.jinja2" %}

{% block title_text %}
    Features
{% endblock %}

{% block nav_feature_attr %}
    class="active"
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span10 offset1">
            <h3>Feature List</h3>
            <ul>
                <li>Load whole chapter at once.</li>
                <li>Subscribe to manga.</li>
                <li>Synchronize reading list across devices.</li>
                    <ul>
                        <li>Create your personal username and sign in on multiple devices</li>
                    </ul>
                <li>Resize huge image to fit browser size.</li>
                    <ul>
                        <li>Click the resized image to show original size.</li>
                    </ul>
                <li>Prefetch next chapter.</li>
                <li>Switch chapter navigation bar position between fixed positon or attached to page</li>
                <li>Change background color as you please.</li>
                <li>Keyboard shortcut:</li>
                    <ul>
                        <li>h: Previous chapter</li>
                        <li>j: Page down</li>
                        <li>k: Page up</li>
                        <li>l: Next chapter</li>
                    </ul>
            </ul>


            <h3>Supported Websites</h3>
            <h4>English / Multi-language</h4>
            <ul>
                <li><a href="http://manga.animea.net/"> Anime A</a></li>
                <li><a href="http://bato.to/"> Batoto </a></li>
                <li><a href="http://kissmanga.com/"> Kissmanga </a></li>
                <li><a href="http://www.mangaeden.com"> MangaEden </a></li>
                <li><a href="http://mangafox.me/"> MangaFox </a></li>
                <li><a href="http://www.mangahere.co/"> MangaHere </a></li>
                <li><a href="http://manga-joy.com/"> Mangajoy </a></li>
                <li><a href="http://www.mangapanda.com/"> MangaPanda </a></li>
                <li><a href="http://www.mangareader.net/"> MangaReader </a></li>
                <li><a href="http://readms.com/"> MangaStream </a></li>
                <li><a href="http://mangastream.to/"> MangaStream.to </a></li>
                <li><a href="http://www.taadd.com/"> TenMangas / TAADD </a></li>
				<li><a href="http://www.tenmanga.com/"> TenManga </a></li>
                <li><a href="http://www.webtoons.com/"> Webtoon </a></li>
				<li><a href="http://mangapark.me/"> Manga Park </a></li>
				<li><a href="http://www.crunchyroll.com/"> CrunchyRoll</a></li>
            </ul>

            <h4>Indonesian</h4>
            <ul>
                <li><a href="http://www.komikid.com/"> Komikid </a></li>
                <li><a href="http://www.mangacanblog.com/"> Mangacan </a></li>
                <li><a href="http://www.mangaesta.net/"> Mangaesta </a></li>
                <li><a href="http://www.pecintakomik.com/"> Pecinta Komik </a></li>
                <li><a href="http://mangaindo.id/"> MangaIndo </a></li>
            </ul>

            <h4>Spanish</h4>
            <ul>
                <li><a href="http://submanga.com"> submanga </a></li>
            </ul>

            <h4>Raw</h4>
            <ul>
                <li><a href="http://raw.senmanga.com/"> SenManga </a></li>
            </ul>
        </div>
    </div>
{% endblock %}
