{% extends "base.jinja2" %}

{% block title_text %}
    Home
{% endblock %}

{% block nav_home_attr %}
    class="active"
{% endblock %}

{% block extra_head %}
    <script>
        $(function() {
            $("#emailForm").submit(function(e) {
                e.preventDefault();
                $.post($(this).attr("action"), $(this).serialize(), function(data) {
                    $("#emailSent").show("slow");
                });
                $(this).hide();
            });
        });
    </script>
    <script type="text/javascript">
    /* <![CDATA[ */
        (function() {
            var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
            t.parentNode.insertBefore(s, t);
        })();
    /* ]]> */</script>
{% endblock %}

{% block content %}
    <div class="row-fluid pitch">
        <div class="span5 offset1 video">
            <img style="max-height: 274px;" src="static/img/screenshot1.png" usemap="#screenshotmap"/>
            <map name="screenshotmap">
                <area shape="rect" coords="0,0,480,300" href="static/img/screenshot1.png" alt="Screenshot">
            </map>
        </div>

        <div class="span5 actions">
            <div class="row-fluid">
                <div class="span10 offset1 order download">
                    <button onclick="location.href='https://bitbucket.org/heryandi/firefoxmangareader_appengine/downloads/mangareader_v4.0.0.xpi'" class="btn btn-success btn-large btn-block btn-download">
                        Download v4.0.0
                    </button> -
                </div>
            </div>
			
			<div class="row-fluid">
				<div class="span10 offset1 order">
					<a href="https://addons.mozilla.org/en-US/firefox/addon/manga-reader/"> Install directly on mozilla addon website </a>
				</div>
			</div>

            {% if num_download %}
                <div class="row-fluid">
                    <div class="statistics">
                        <p>{{ num_download }} downloads</p>
                    </div>
                </div>
            {% endif %}

            <div class="row-fluid">
                <!--
                <div class="span5 offset1 order">
                    <button class="btn btn-warning btn-large btn-block btn-download">Donate (PayPal)</button>
                </div>
                <div class="span5 order">
                -->
                <div class="span12 order">
                    <div class="coinbase_div">
                        <a class="coinbase-button" data-code="f84b2b73724ca361c1ebbbe0883fc98f" data-button-style="custom_large" href="https://www.coinbase.com/checkouts/f84b2b73724ca361c1ebbbe0883fc98f">Donate Bitcoins</a><script src="https://www.coinbase.com/assets/button.js" type="text/javascript"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid section1">
        <div class="span5 offset1 copy">
            <p>
                Manga Reader extension for Firefox (FFMR) is created solely to more joyfully read manga on online manga reader websites using Firefox.
            </p>
            <p>
            <h4>How to use:</h4>
                <ul>
                    <li>Download FFMR using the big download button
                    <li>Drag the downloaded file into Firefox window and install it
                    <li>Go to your favorite online manga reader websites
                    <li class="text-error">??????????
                    <li class="text-success">Profit!!!
                </ul>
            </p>
            <p>For complete list of features and supported websites, take a look at the <a href="/feature">feature list</a>.
        </div>
        <div class="span5 asset">
            <p>Suggestions? Bugs? Tell Us!</p>
            <hr>
            <form id="emailForm" action="/email" type="post">
                <input type="email" name="sender" placeholder="Sender email (optional)">
                <input type="text" name="title" placeholder="Title" required>
                <textarea rows="6" name="content" class="input-block-level" maxlength="1000" placeholder="Content" required></textarea>
                <button type="submit" class="btn">Send!</button>
            </form>
            <p id="emailSent" class="text-success" style="display:none">
                Your feedback has been sent to us successfully!
            </p>
        </div>
    </div>

    <div class="row-fluid faq">
        <div class="span10 offset1">
            <h3>FAQ</h3>
            <div class="accordion" id="faqAccordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq1">
                            Is FFMR free of charge?
                        </a>
                    </div>
                    <div id="faq1" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Yes, but we appreciate every bit and coin (pun intended) for donation to keep our motivation to maintain and expand FFMR.
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq2">
                            Which version of Firefox is supported?
                        </a>
                    </div>
                    <div id="faq2" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Firefox 21+
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq3">
                            What are the terms and conditions?
                        </a>
                    </div>
                    <div id="faq3" class="accordion-body collapse">
                        <div class="accordion-inner">
                            By using this extension, you agree that you will not blame us for anything that goes wrong in your life.
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq4">
                            How can I change the background color?
                        </a>
                    </div>
                    <div id="faq4" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Click on the FFMR icon on the right-hand side of Firefox Add-on Bar to show the preferences page.
                            The Firefox Add-on Bar can be shown by pressing "Ctrl + /".
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq5">
                            Why do you remove some ads?
                        </a>
                    </div>
                    <div id="faq5" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Ads that get in our way during development are removed.
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq6">
                            Why don't you remove all ads?
                        </a>
                    </div>
                    <div id="faq6" class="accordion-body collapse">
                        <div class="accordion-inner">
                            There's a <a href="https://addons.mozilla.org/en-us/firefox/addon/adblock-plus/">plugin</a> for that.
                            We have no intention to compete with it.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<div class="row-fluid">
		<div class="span10 offset1">
			<h3>CHAT ROOM</h3>
			<div id="tlkio" data-channel="ffmangareader" data-theme="theme--minimal" style="width:100%;height:400px;"></div><script async src="http://tlk.io/embed.js" type="text/javascript"></script>
		</div>
	</div>
{% endblock %}
